In [2]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")

In [13]:
import camelot
import os
import sys

In [12]:
datapath='/home/imran/work/datasets/icdar2013-competition-dataset-with-gt/competition-dataset-eu/'

In [17]:
tables = camelot.read_pdf(os.path.join(datapath,'eu-001.pdf'))

In [24]:
#tables.export('foo.csv', f='csv', compress=True)

In [32]:
tables[1].df

,0,1,2,3
0,,THRESHOLD FOR RELEASES,,
1,,to air kg/year,to water kg/year,to land kg/year
2,Ammonia (NH3),10 000,-,-
3,Carbon monoxide (CO),500 000,-,-
4,Chlorine and inorganic compounds (as HCl),10 000,-,-
5,Chlorofluorocarbons (CFCs),1,-,-
6,Flourine and inorganic compounds (as HF),5 000,-,-
7,Halons,1,-,-
8,Hydrochlorofluorocarbons (HCFCs),1,-,-
9,Hydrogen Cyanide (HCN),200,-,-
10,Nitrogen oxides (NOx/NO2),100 000,-,-
11,Non-methane volatile organic compounds (NMVOC),100 000,-,-
12,Sulphur oxides (SOx/SO2),150 000,-,-